%div(data-role="page" id="home")
  = haml :header

  %h2 Your todos
  %ul#todosList(data-role="listview" data-theme="d")

  %div(data-role="footer" data-position="fixed")
    %div(data-role="navbar")
      %ul
        %li
          %a(href="#motions") Motions
        %li
          %a(href="#add" data-icon="new") New Todo
          
/Start show page
          
%div(data-role="page" id="show")
  = haml :header

  %h2#show_title Show todo
  %p
    Implement.

  = haml :footer
%div(data-role="page" id="add")
  = haml :header

  %h2 Add todo

  = haml :footer
  
  
%div(data-role="page" id="motions")
  = haml :header

  %h2 Motions
  %a(href="#add")
    Add todo
  %label(for="sliderX")
    X Acceleration (Roll)
  %input(type="range" name="sliderX" id="sliderX" value="0" min="-10" max="10" data-theme="a")
  %label(for="sliderY")
    Y Acceleration (Pitch)
  %input(type="range" name="sliderY" id="sliderY" value="0" min="-10" max="10" data-theme="b")
  %label(for="sliderZ")
    Z Acceleration (<strike>Yaw</strike> Face up/down)
  %input(type="range" name="sliderZ" id="sliderZ" value="0" min="-10" max="10" data-theme="c")

  %div(style="text-align:center;margin-top:10px;")
    %canvas(id="c" width="100" height="100")

  = haml :footer
